body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://i.pinimg.com/originals/34/1e/80/341e800b1f29d3e34ea2eba5a6af205c.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: aliceblue;
    display: inline-block;
    padding: 8px;
    border: 2px solid;
    border-color: rgb(187, 1, 187);
    border-radius: 12px;
    background-image: url(./imagens/banner2.png);
    background-position: center;
}

label {
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}
textarea, input {
    color: aliceblue;
    font-size: 20px;
    display: inline-block;
    padding: 8px;
    border: 2px solid;
    border-color: indigo;
    border-radius: 12px;
    background-color: black;
}

h2, p {
    color: aliceblue;
    font-size: 15px;
}

img {
    display: block;
    padding: 2px;
    border: 2px solid;
    border-color: rgb(132, 0, 255);
    border-radius: 8px;
}

.preview-container {
    display: flex;             
    flex-direction: column;    
    justify-content: center;    
    align-items: center;           
}

button {
    padding: 6px 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: aliceblue;
    background-color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6a0dad;
}

footer {
    text-align: left;
    background-image: url(https://i.pinimg.com/originals/5d/58/42/5d5842689862a0b26d30e4b680e88025.gif);
    border-radius: 10px;
    background-color: black;
    background-position: fixed;
    padding: 20px;
}

p {
    color: #7e00f5;
    font-size: 30px;
    font-style: italic;
}

.footer-content {
    display: flex;
    align-items: center; /* Alinha verticalmente a imagem e o texto */
    justify-content: left; /* Alinha horizontalmente no centro */
}

.footer-img {
    width: 90px; /* Ajuste o tamanho da imagem */
    height: 90px;
    margin-right: 30px; /* Espaço entre a imagem e o texto */
}

img {
    border-radius: 70px;
}